<h1>Welcome! Please create YOUR very own website!</h1>

<section class="website_builder">
  <%= form_for(@webpage) do |w| %>
    <fieldset>
        <h2>To start, let's choose a background colour!</h2>
          <%= w.text_field :color , class: 'jscolor', value: 'ab2567' %>
    </fieldset>

    <fieldset>
      <h2>Great! Now let's personalize it. Please enter a link to your facebook photo here.</h2>
        <%= w.text_field :photo, id: 'profile_photo', type: 'text' %>

    </fieldset>

    <fieldset>
      <h2>Looking good! Now lets link your instagram.</h2>
    </fieldset>

    <fieldset>
      <h2>Amazing! Press the button below and enjoy your brand new, very own webpage!</h2>
        <%= w.button :submit, value: 'click', onclick: 'getimage()' %>
    </fieldset>
  <% end %>
</section>
