<h1>View#model</h1>
<p>Welcome to my very own webpage!</p>

<section class="row1">
  <box class="profile_photo">
  <img src="<%= %>"/>
  </box>

  <box class="instagram">

  </box>
</section>

<section class="row2">
  <box class="blog_content">

  </box>
</section>
