<h1>View#model</h1>
<p>Welcome to my very own webpage!</p>


<box class="profile photo">
<%= render id: 'profile_photo' %>
</box>


<box class="instagram">

</box>

<box class="blog content">

</box>
