body{
background-color: #4682B4;
}


header {
  display: flex;
  justify-content: center;
  color: white;
  /*font-family: 'Acme', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'Bungee Shade', cursive;*/
}


.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: white;
  /*opacity: 50%;*/
  border: 4px solid black;
}


footer {

}
